.App {
/*  text-align: center; */
margin-left: 10px;
margin-right: 10px;
}

.Messages {
  border: 1px solid;
  min-height: 50px;
  max-height: 200px;
  overflow-y: scroll;
  font-size: 0.7rem;
  padding: 5px;
}

.suspended {
  background-color: #ffe0e0;
}

.Log {
  border: 1px solid;
  min-height: 50px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
